@font-face {
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    src: local('OpenSansCondLight'), url(./OpenSans-CondLight.ttf) format('truetype');
}


@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: local('OpenSansLight'), url(./OpenSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: local('OpenSansRegular'), url(./OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Passageway';
    font-weight: 300;
    src: local('PassagewayICPCLive'), url(./PassagewayICPCLive.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Color Emoji';
    font-weight: 300;
    src: local('NotoEmojiRegular'), url(./NotoEmoji-Regular.ttf) format('truetype');
}


