body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.media-files-uploader {
    max-width: 100% !important;
}

.WidgetGroupAccordion
    > .MuiAccordionSummary-root
    > .MuiAccordionSummary-content {
    align-items: center;
}
