@font-face {
    font-family: "Open Sans Condensed";
    font-weight: 300;
    src:
        local("OpenSansCondLight"),
        url(./OpenSans-CondLight.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src:
        local("OpenSansLight"),
        url(./OpenSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src:
        local("OpenSansRegular"),
        url(./OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Passageway";
    font-weight: 300;
    src:
        local("PassagewayICPCLive"),
        url(./PassagewayICPCLive.ttf) format("truetype");
}

@font-face {
    font-family: "Noto Color Emoji";
    font-weight: 300;
    src:
        local("NotoEmojiRegular"),
        url(./NotoEmoji-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Urbanist";
    src:
        local("Urbanist"),
        url(./Urbanist-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Urbanist";
    font-style: italic;
    src:
        local("Urbanist"),
        url(./Urbanist-Italic-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    src:
        local("JetBrainsMono"),
        url("./JetBrainsMono-Regular.woff2") format("truetype-variations");
    font-weight: 1 999;
}
@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    src:
        local("JetBrainsMono"),
        url("./JetBrainsMono-Italic.woff2") format("truetype-variations");
    font-weight: 1 999;
}
