{
  "yandex": "sample_key",
  "codeforces_key": "sample_key",
  "codeforces_secret": "sample_secret",
  "rmc21_pass": "sample_password",
  "nac22_login": "sample_login",
  "nac22_password": "sample_password"
}