{
  "CONTEST_COLOR": "#FDBA12",
  "CONTEST_CAPTION": "Div 2",
  "WIDGET_POSITIONS": {
    "scoreboard": {
      "positionX": 550,
      "positionY": 40,
      "sizeX": 1350,
      "sizeY": 970
    },
    "teamview": {
      "TOP_RIGHT": {
        "positionX": 550,
        "positionY": 40,
        "sizeX": 1350,
        "sizeY": 970
      }
    }
  }
}