name: Lint admin

on:
  push:
    paths:
      - src/frontend/admin/**
  pull_request:
    paths:
      - src/frontend/admin/**


jobs:
  lint:
    name: Lint admin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: pnpm/action-setup@v2
        with:
          version: 8.15.6
      - uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'pnpm'
          cache-dependency-path: 'src/frontend/pnpm-lock.yaml'
      - name: "Install dependencies"
        run: pnpm install
        working-directory: "src/frontend"
      - name: "Lint admin js"
        working-directory: "src/frontend/admin"
        run: npm run lint:js
