name: Lint overlay

on:
  push:
    paths:
      - src/frontend/overlay/**
      - .github/**
  pull_request:
    paths:
      - src/frontend/overlay/**
      - .github/**


jobs:
  lint:
    name: Lint overlay
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: pnpm/action-setup@v2
        with:
          version: 8.15.6
      - uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'pnpm'
          cache-dependency-path: 'src/frontend/pnpm-lock.yaml'
      - run: echo "::add-matcher::.github/problem-matchers.json"
      - name: "Install dependencies"
        run: pnpm install
        working-directory: "src/frontend"
      - name: "Lint overlay"
        working-directory: "src/frontend/overlay"
        run: pnpm run lint
