name: Tests
on:
  push:
    branches: [main, master, overlay2-rework]
  pull_request:
    branches: [main, master, overlay2-rework]
jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 8.15.6
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: 'src/frontend/pnpm-lock.yaml'

      - name: Install dependencies
        working-directory: ./src/frontend
        run: pnpm install

      - name: Store Playwright's Version
        working-directory: ./src/frontend/tests
        run: |
          PLAYWRIGHT_VERSION=$(pnpm list @playwright/test | grep @playwright | sed 's/.*@//')
          echo "Playwright's Version: $PLAYWRIGHT_VERSION"
          echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV

      - name: Cache Playwright Browsers for Playwright's Version
        id: cache-playwright-browsers
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: playwright-browsers2-${{ env.PLAYWRIGHT_VERSION }}

      - name: Setup Playwright
        if: steps.cache-playwright-browsers.outputs.cache-hit != 'true'
        working-directory: ./src/frontend/tests
        run: pnpm exec playwright install

      - uses: actions/setup-java@master
        with:
          distribution: adopt
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build with gradle
        run: ./gradlew build release apiCheck --scan -Pnpm.download=false

      - name: PR playwright - fds
        if: github.event.pull_request.number != '' && hashFiles('./src/frontend/tests/playwright-report') != ''
        working-directory: ./src/frontend/tests/playwright-report/data
        env:
          IMGBB_API_TOKEN: ${{ secrets.IMGBB_API_TOKEN }}
        run: |
          ls *.png | \
            xargs -i curl -s -P1 --location --request POST "https://api.imgbb.com/1/upload?expiration=604800&key=$IMGBB_API_TOKEN" --form "image=@{}" | \
            jq -r '.data.url' | paste -sd "," -

      - name: PR playwright - upload
        id: pr_playwright-upload
        if: github.event.pull_request.number != '' && hashFiles('./src/frontend/tests/playwright-report') != ''
        working-directory: ./src/frontend/tests/playwright-report/data
        env:
          IMGBB_API_TOKEN: ${{ secrets.IMGBB_API_TOKEN }}
        run: |
          ls *.png | \
            xargs -i curl -s -P1 --location --request POST "https://api.imgbb.com/1/upload?expiration=604800&key=$IMGBB_API_TOKEN" --form "image=@{}" | \
            | jq -r '.data.url' | paste -sd "," - | awk '{print "pr_playwright-images="$0 }' >> "$GITHUB_OUTPUT"

      - name: PR playwright - comment
        uses: actions/github-script@v7
        if: github.event.pull_request.number != '' && hashFiles('./src/frontend/tests/playwright-report') != ''
        with:
          script: |
            const { issue: { number: issue_number }, repo: { owner, repo }  } = context;

            console.log('[${{steps.pr_playwright-upload.outputs.pr_playwright-images}}]');
            // const images = JSON.parse('[${{steps.pr_playwright-upload.outputs.pr_playwright-images}}]');
            // const images_grid = images.map(i => '<img src="' + i.data.url + '" width="300" />');
            // console.log(images_grid)

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,                                                                                                                                                                                              
              body: 'Playwright tests screens\n\n<p float="left"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg" width="300" /></p>' + '\n\n${{steps.pr_playwright-upload.outputs.pr_playwright-images}}'
            });

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: ./src/frontend/tests/playwright-report/
          retention-days: 3

      - uses: actions/upload-artifact@v3
        if: always()
        with:
            name: artifacts
            path: artifacts
            retention-days: 3
